<!DOCTYPE html>
<html lang="es-MX" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {%-
      assign cssAssets = "/assets/css"
        | prepend: site.remote_theme
        | prepend: 'https://github.com/'
    -%}

    <link rel="stylesheet" href="{{ cssAssets }}/solarized.css" />
    <link rel="stylesheet" href="{{ cssAssets }}/halivert-layout.css" />
    <link rel="stylesheet" href="{{ cssAssets }}/halivert.css" />
    <link rel="stylesheet" href="{{ cssAssets }}/halivert-dark.css" />
    <link rel="stylesheet" href="{{ cssAssets }}/fa.min.css" />

    {%-
      assign gistTheme = "https://cdn.rawgit.com"
        | append: "/lonekorean/gist-syntax-themes/b737b139/stylesheets"
        | append: "/solarized-dark.css"
    -%}

    <link rel="stylesheet" href="{{ gistTheme }}" type="text/css" />

    <script src="https://unpkg.com/turbolinks" defer></script>
    <script
      src="https://github.com/{{ site.remote_theme }}/assets/js/main.js"
    ></script>

    <title>{{ site.title }} | {{ site.description }}</title>

    {% seo %}
  </head>

  <body class="has-background-light">
    {{ content }}
  </body>
</html>
